nav ul {
    list-style-type: none;
    background: rgb(55, 61, 181);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 16px;
    display: block;
}

nav li {
    float: left;
}

nav a:hover {
    background-color: white;
    color: rgb(55, 61, 181);
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}
aside {
    float: left;
    width: 25%;
    padding-left: 20px;

}
