@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap");

:root {
  --white: #ffffff;
  --max-width: 1200px;
  --primary-color: rgba(255, 154, 48, 0.8); 
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  position: relative;
  isolation: isolate;
}

nav {
  position: absolute;
  width: 100%;
  max-width: var(--max-width);
  top: 0;
  left: 50%;
  transform: translate(-50%);
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9;
}

.nav__logo a img {
  max-width: 80px;
}

.nav__logo .logo-white {
  display: none;
}

.nav__links {
  list-style: none;
  padding: 0.75rem 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 3rem;
  flex-direction: row;
  max-width: fit-content;
  border-radius: 5rem;
  background-color: rgba(255, 154, 48, 0.8);
}

.nav__links a {
  white-space: nowrap;
  font-weight: 500;
  color: var(--text-dark);
}

.nav__links a:hover {
  color: var(--white);
}

.nav__menu__btn {
  display: none;
}

.header__container {
  display: grid;
  grid-template-columns:
    minmax(1rem, 1fr)
    minmax(0, calc(var(--max-width) * 0.4))
    minmax(0, calc(var(--max-width) * 0.6))
    minmax(1rem, 1fr);
  align-items: flex-start;
  min-height: 100vh;
  position: relative;
}

.header__image {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: max(75vh, 500px);
  background-image: url("../assets/animais.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 8rem;
  grid-area: 1/3/2/5;
  z-index: 1;
}

.header__content {
  position: relative;
  z-index: 2;
  text-align: left;
  padding-top: 10rem;
  grid-column: 2/3;
  max-width: 100%;
  margin-right: -50px; 
}

.header__content h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 4rem;
  color: #b05800;
}

.header__content h2 {
  color: #171716;
  font-size: 2rem;
  text-align: center;
  line-height: 4rem;
}

.header__content h3 {
  font-size: 2rem;
  color: #d67310;
  line-height: normal;
}

.header__content p {
  margin-bottom: 2rem;
  color: var(--text-dark);
}

@media (width > 1024px) {
  .nav__links {
    padding: 0.75rem 4rem;
    gap: 4rem;
  }
}